.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.TopBar_Logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.TopBar_Actions {
    display: flex;
    gap: 18px;
}